<div style="margin: 100px">
  <div class="jumbotron" style="padding: 40px">
    <img src="/images/dog.jpg" alt="an image" width="400" height="300">
    <h1><%= quote%></h1>
    <h2>
      Repository:
      <a href="https://github.com/declanleeler/cfdsa">
        https://github.com/declanleeler/cfdsa
      </a>
    </h2>
    <p></p>
  </div>
  <p></p>
</div>
